.top{
	position: absolute;
	top:150px;
	left:160px; 
	width: 1200px;
	height:500px;
	opacity: 0.7;
	background-color: #FFFFFF;
	border-radius: 30px;
	z-index: -1;
}
.div_shadow1
{
box-shadow: 8px 9px 0px #EBD4B5;
-webkit-box-shadow: 8px 9px 0px #EBD4B5;
-moz-box-shadow: 8px 9px 0px #EBD4B5;
}



#size{
	position:relative;
	top:150px;
	width: 400px;
	height:300px;
}


#h1{
	position: absolute;
	top:100px;
	left: 250px;
}
#h1font{
	padding: 15px;
	width: 500px;
	height: 150px;
	font-weight: bolder;
	font-size: 40px;
	font-family:  Microsoft JhengHei;
	position: relative;
	top:-150px;
	left: 200px;
	color:#69491A;
	background-color: #FFD954;
	border-radius: 20px; 
}
#content1{
	width: 300px;
	height: 400px;
	font-weight: bolder;
	font-size: 20px;
	font-family:  Microsoft JhengHei;
	position: relative;
	top:120px;
	left: 800px;
	color:#69491A;
}

#h1form{
	position: relative;
	top:170px;
	left: 850px;
	z-index:2;
	
}
#h2font{
	font-size:20px;
	font-weight:bolder;
	font-family: Microsoft JhengHei;
	color:#69491A;
	position:relative;
	top:210px;
	left:950px;
}
#h3font{
	font-size:15px;
	font-weight:bolder;
	font-family: Microsoft JhengHei;
	color:#69491A;
	position:relative;
	top:178px;
	left:550px;
}
/**/
.qty {
  width: 40px;
  height: 35px;
  text-align: center;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}


input.qtyplus {
  width: 25px;
  height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

input.qtyminus {
  width: 25px;
  height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

.q{
	position: relative;
	top:150px;
	left: 850px;
	z-index:2; 

}
.plus{
	position: relative;
	top:300px;
	left: 920px;
	z-index:3;
	color: white;
	font-family:Microsoft JhengHei; 
	padding: 6px 12px;
    border: 1px solid #a16a3a;
    border-radius: 8px;
    background: #e69853;
	font-weight:bolder;
}
button{
	color: white;
	font-family:Microsoft JhengHei; 
	padding: 6px 12px;
    border: 1px solid #a16a3a;
    border-radius: 8px;
    background: #e69853;
}
*/

/**/

#textarea{
	resize:none;width:300px;height:80px;
}

/*==comment==*/
.commentfont{
	font-size:45px;
	font-weight:bolder;
	font-family:'Boogaloo', cursive;
	color:#69491A;
	position:absolute;
	top:700px;
	left:680px;

}
.comment{
	position: relative;
	top:350px;
	left:110px; 
	margin:40px;
	width: 1200px;
	height:200px;
	opacity: 0.7;
	background-color: #FFFFFF;
	border-radius: 30px;
	z-index: -1;

}

.photo{
	margin:0;
	padding:0;
	position:relative;
	top:130px;
	left:250px;
	z-index:2;

}
.photo1{
	margin:0;
	padding:0;
	z-index:2;
	width:130px;
	height:150px;
	border-radius:50%;
}
.comment2{
position:absolute;
top:450px;
}
.comment3{
position:relative;
top:550px;
}


.email{
	font-size:20px;
	font-weight:bolder;
	font-family:Microsoft JhengHei; 
	color:#69491A;
	position:relative;
	top:-20px;
	left:450px;

}
.finalltcomment{
	font-size:20px;
	font-weight:bolder;
	font-family:Microsoft JhengHei; 
	color:#69491A;
	position:relative;
	top:60px;
	left:450px;

}
.day{

	font-size:20px;
	font-weight:bolder;
	font-family:'Boogaloo', cursive;
	color:#69491A;
	position:absolute;
	top:520px;
	left:1150px;


}