#head{
	top:0;
	left:0;
	padding:0; 
	position: absolute;
	background-color:#F5CBA7 ;
	width:100%;
	height:110px;
	z-index:1;	
}
#user{
	font-family:  Microsoft JhengHei;
	font-size: 35px;
	position: absolute;
	top: 10px;
	left: 870px;
	margin-top: 35px;
}
#backindex{
	font-family:  Microsoft JhengHei;
	font-size: 30px;
	margin-top: 35px;
	position: absolute;
	top:20px;
	left: 1400px;
}
#sidebar{
	position: absolute;
	background-color:#F5CBA7;
	font-family:  Microsoft JhengHei;
	font-size: 20px;
	
}

#b{
font-family:  Microsoft JhengHei;
font-size: 20px;
background-color: white;
position: absolute;
top: 200px;
left:650px;
width: 500px;
height: 500px;
}
#c{
	margin-top: 50px;
	font-family:  Microsoft JhengHei;
	font-size: 20px;
	text-align: center;
}


#information2{
    position: absolute;
    top:20px;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    font-weight: bolder;
    color:#FFFFFF ;
	padding:5px;
	top:120px;
	left:780px;
	width:320px;
	height:60px;
	font-size: 35px;
	background-color:#E59866;
	text-align: center;
	border-radius:20px;

}

#ee{
	margin:30px;
	width:900px;
	height:600px;
	background-color:#F7DC6F ;
	border-radius:30px;
	position:absolute;
	top:160px;
	left:450px;
}
#ee2{
	position:relative;
	width:500px;
	height:110px;
	text-align:center;
	top:30px;
	left:190px;
	font-size: 20px;
	background-color:#F0B27A ;
	border-radius:30px;
	color: #FFFFFF;
	margin:3px;
	font-family: Microsoft JhengHei, cursive;
}
button{
	color: white;
	font-family:Microsoft JhengHei;
	font-weight:bold; 
	padding: 6px 12px;
    border: 1px solid #a16a3a;
    border-radius: 8px;
    background: #e69853;
    margin:15px;
}
.enter{
	position: relative;
	top:50px;
	left:410px;
}
