#e1{
	width:900px;
	height:1100px;
	background-color:#F7DC6F ;
	border-radius:30px;
	margin:0 auto;
}
#contact{
	position:relative;
	width:120px;
	height:40px;
	padding:5px;
	text-align:center;
	top:20px;
	left:400px;
	font-size: 20px;
	background-color:#E59866;
	border-radius:30px;
	color: #FFFFFF;
	font-family:'Boogaloo', Microsoft JhengHei, cursive;
}
#Card2{
	position:absolute;
	opacity: 0.6;
	top:100px;
	opacity: 0.8;
	width: 1550px;
	height:600px;
	z-index: -5;
}
#Card3{
	position:absolute;
	opacity: 0.6;
	top:800px;
	opacity: 0.8;
	width: 1550px;
	height:600px;
	z-index: -5;
}
/*==輸入Email格==*/
#e2{
	position:relative;
	width:500px;
	height:130px;
	margin-bottom:50px;
	text-align:center;
	top:80px;
	left:200px;
	font-size: 20px;
	background-color:#F0B27A ;
	border-radius:30px;
	color: #FFFFFF;
	font-family:'Boogaloo', Microsoft JhengHei, cursive;
}
#input1{
	width:350px;
	background-color:#FEF9E7;
	color:#E59866;
}
#e3{
	position:relative;
	width:500px;
	height:300px;
	text-align:center;
	top:110px;
	left:200px;
	font-size: 20px;
	background-color:#F0B27A ;
	border-radius:30px;
	color: #FFFFFF;
	font-family:'Boogaloo', Microsoft JhengHei, cursive;
}
#input2{
	
	width:350px;
	height:200px;
	background-color:#FEF9E7;
	color:#E59866;
}

.enter{
	position: relative;
	top:-82px;
	left:710px;
}
button{
	color: white;
	font-family:Microsoft JhengHei;
	font-weight:bold; 
	padding: 6px 12px;
    border: 1px solid #a16a3a;
    border-radius: 8px;
    background: #e69853;
}

/*==footer==*/
#a1{
	width: 1600px;
	height:50px;
	padding: 0;
	margin:0;
	background-color:#F5CBA7;
	position: absolute;
	top: 1365px;
	

}
.f{
	margin-top:8px;
	font-size: 20px;
	color: #FF8F00;
	font-family:'Boogaloo', Microsoft JhengHei, cursive;
	text-align: center;
	
}