
#a{
	width: 1600px;
	height:50px;
	padding: 0;
	margin:0;
	background-color:#F5CBA7;
	  position: absolute;
    bottom: 0;
box-sizing: border-box;
	

}
.f{
	margin-top:8px;
	font-size: 20px;
	color: #FF8F00;
	font-family:'Boogaloo', Microsoft JhengHei, cursive;
	text-align: center;
	
}
#burger{
	width:80px;
	height: 80px;
	position: absolute;
	top:140px;
	left: 80px;
	z-index: 1;
}
#Card1{
	position:absolute;
	opacity: 0.6;
	top:0px;
	opacity: 0.8;
	width: 1550px;
	height:1900px;
	z-index: -5;
}
.pro{

	font-family: 'Alatsi', sans-serif;
	font-size: 40px;
	color: #015077;
	position: absolute;
 	left:640px; 
 	top:40px;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.pro1{  
  font: bold 300% Consolas, Monaco, monospace;
  border-right: .1em solid black;
  width: 16.5em; 
  width: 11ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}
#ha{
	position: absolute;
	top:105px;
	left:500px;
	width: 500px;
	height: 110px;
}
.div_shadow
{
width: 300px;
height:270px;
background-color: white;
position: absolute;
top:260px;
left: 240px;
}
.div_shadow1
{
box-shadow: 8px 9px 0px #EBD4B5;
-webkit-box-shadow: 8px 9px 0px #EBD4B5;
-moz-box-shadow: 8px 9px 0px #EBD4B5;
}
.div_shadow2
{
width: 300px;
height:270px;
background-color: white;
position: absolute;
top:260px;
left:615px;
}
.div_shadow3
{
width: 300px;
height:270px;
background-color: white;
position: absolute;
top:260px;
left: 990px;
}
#bgh1{
	position: absolute;
	top:25px;
	left:25px;
	width: 250px;
	height:220px;
	background-color:#EBD4B5;
	opacity: 0.5; 

}
#h1{
	position: relative;
	top:50px;
	left:50px;
	width: 200px;
	height:150px;
}
#h1font{
	position: absolute;
	top:210px;
	left:95px;
	font-size: 20px;
	color: #015077;
	font-family: Microsoft JhengHei;
	font-weight:bolder;
	text-align: center;

	
}
#h1form{
	position: relative;
	top:130px;
	left: 32px;
	
}
/**/
.qty {
  width: 40px;
  height: 35px;
  text-align: center;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}


input.qtyplus {
  width: 25px;
  height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

input.qtyminus {
  width: 25px;
  height: 35px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

.q{
	position: relative;
	top:115px;
	left: 40px;

}
.plus{
	position: relative;
	top:152px;
	left:158px;
}
button{
	color: white;
	font-family:Microsoft JhengHei; 
	padding: 6px 12px;
    border: 1px solid #a16a3a;
    border-radius: 8px;
    background: #e69853;
}

#height0{
	position: absolute;
	top:70px;

}
#heigh1{
	position:relative;
	top:330px;
}
#heigh2{
	position:relative;
	top:780px;
}
#heigh3{
	position:relative;
	top:1280px;
}
#height4{
	position:relative;
	top:1760px;
}
#aaaa{
	position:relative;
	top: 2350px;
	width: 1520px;
	height: 100px;
	background-color: #F6E6C5;


}



@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/**/




