#information1{
    position: absolute;
    top:20px;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    font-weight: bolder;
    color:#FFFFFF ;
	padding:5px;
	top:200px;
	left:580px;
	width:320px;
	height:60px;
	font-size: 35px;
	background-color:#E59866;
	text-align: center;
	border-radius:20px;

}
#e{
	margin:50px;
	width:900px;
	height:1050px;
	background-color:#F7DC6F ;
	border-radius:30px;
	position:absolute;
	top:300px;
	left:250px;
}
#e2{
	position:relative;
	width:500px;
	height:130px;
	text-align:center;
	top:30px;
	left:180px;
	font-size: 20px;
	background-color:#F0B27A ;
	border-radius:30px;
	color: #FFFFFF;
	margin:20px;
	font-family:'Boogaloo', Microsoft JhengHei, cursive;
}
#input1{
	width:350px;
	background-color:#FEF9E7;
	color:#E59866;
}
.enter{
	position: relative;
	top:50px;
	left:410px;
}
button{
	color: white;
	font-family:Microsoft JhengHei;
	font-weight:bold; 
	padding: 6px 12px;
    border: 1px solid #a16a3a;
    border-radius: 8px;
    background: #e69853;
    margin:15px;
}


#bg1{
	position:absolute;
	top:130px;
	z-index:-4;
	

}

#bg2{
	position:absolute;
	top:900px;
	z-index:-4;
	padding:0;
	margin:0;
}


